###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0e90d2cf06d51eb38e2a4a0cf6d93e97
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:password@127.0.0.1:3306/yourhometonight?serverVersion=5.7&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=17ad17bb9b2538598a03d61b7643f30f
###< lexik/jwt-authentication-bundle ###

STRIPE_SECRET_KEY=sk_test_51LGP8mKWvhF8ftvX38tVdpgYePhTKPDEq0SVSq0bRVVRBrNzZsLYdh2ezV6VPGA0Zyk8JAtXcs6e2xEKXFPppwo000lxf5u21V
APP_URL=https://example.com
